* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    padding-top: 30px;
    background-color: #333;
    position: relative;
}

.container {
    border-radius: 20px;
    padding: 20px;
    background: #f9e4c3;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

.img {
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.img img {
    max-width: 100%;
    border-radius: 10px;
    transition: .3s ease;
    display: block;
}

.img:hover img {
    scale: 1.1;
}

.content {
    text-align: center;
}

h3 {
    font-size: 14px;
    margin-bottom: 15px;
}

p {
    font-size: 12px;
    font-weight: 600;
}